version: "3.8"

services:
  inyro:
    container_name: inyro_reservation
    image: inyro/web:latest
    ports:
      - "8080:8080"
    env_file:
      - ./secrets/.env
    network_mode: host
    restart: always
